<!-- Setting up profile page -->
<section class="profiledetails container mt-3">
  <form action="/account/editProfile" method="POST">
    <div class="form-row">
      <div class="col">
        <div class="container">
          <div class= "row">
            <div class="header col mt-5 ">
              <i class="profileicon far fa-user"></i>
              <h>Your Profile </h>
            </div>
            <div class="card-action col-2 float-right  mt-5">
              <% include ./partials/messages %>
            </div>
          </div>
        </div>
        <input type="text" id="firstName" name="firstName" class="form-control mt-4" placeholder= "Name" value="<%= firstName %>"> <!-- Setting up form -->
        <input type="text" id="lastName" name="lastName" class="form-control mt-4" placeholder= "Name" value="<%= lastName %>">
        <input type="text" id="gender" name="gender" class="form-control mt-4" placeholder="Gender" value="<%= gender %>">
        <input type="text" id="age" name="age" class="form-control mt-4" placeholder="Age" value="<%= age %>">
        <input type="text" id="condition" name="condition" class="form-control mt-4" placeholder="Condition" value="<%= condition %>">
        <input type="text" id="height" name="height" class="form-control mt-4" placeholder="Height (ft)" value="<%= height %>">
        <input type="text" id="weight" name="weight" class="form-control mt-4" placeholder="Weight (kg)" value="<%= weight %>">
      </div>
      <div class="container">
        <div class="row ">
          <div class="col-6 text-center mt-4">
            <button class="logoutbutton button button btn btn-default btn-block btn-lg mt-2 pt-2 pb-2" type="submit" name="action">Save Changes </button> <!-- Save button -->
          </div>
          <div class="col-6 text-center mt-4 ">
            <a class="logoutbutton button btn btn-default btn-block btn-lg mt-2 pt-2 pb-2" href="/logout">Log Out</a> <!-- Log out button -->
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
